@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #27272e;
}
header {
  background-color: white;
  padding: 2em;
}
header > h1 {
  color: #27272e;
  text-align: center;
  font-family: Asap, sans-serif;
}

.scoreboard {
  border: 2px solid white;
  margin: 20px auto;
  width: 200px;
  color: #27272e;
  font-size: 2em;
  font-family: Asap, sans-serif;
  text-align: left;
}

.call-to-action,
.result {
  color: white;
  text-align: center;
}

.rps-choices {
  text-align: center;
}
.score {
  background-color: white;
}

#user-score,
#comp-score {
  color: red;
}
